<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30000">
		<setting label="30001" type="select" id="fmsx_mode" values="MSX2+|MSX1|MSX2" default="MSX2+"/>
		<setting label="30002" type="select" id="fmsx_video_mode" values="NTSC|PAL|Dynamic" default="NTSC"/>
		<setting label="30003" type="select" id="fmsx_hires" values="Off|Interlaced|Progressive" default="Off"/>
		<setting label="30004" type="select" id="fmsx_overscan" values="No|Yes" default="No"/>
		<setting label="30005" type="select" id="fmsx_mapper_type_mode" values="Guess|Generic 8kB|Generic 16kB|Konami5 8kB|Konami4 8kB|ASCII 8kB|ASCII 16kB|GameMaster2|FMPAC" default="Guess"/>
		<setting label="30006" type="select" id="fmsx_ram_pages" values="Auto|64KB|128KB|256KB|512KB|4MB" default="Auto"/>
		<setting label="30007" type="select" id="fmsx_vram_pages" values="Auto|32KB|64KB|128KB|192KB" default="Auto"/>
		<setting label="30008" type="select" id="fmsx_log_level" values="Off|Info|Debug|Spam" default="Off"/>
		<setting label="30009" type="select" id="fmsx_game_master" values="No|Yes" default="No"/>
		<setting label="30010" type="select" id="fmsx_simbdos" values="No|Yes" default="No"/>
		<setting label="30011" type="select" id="fmsx_autospace" values="No|Yes" default="No"/>
		<setting label="30012" type="select" id="fmsx_allsprites" values="No|Yes" default="No"/>
		<setting label="30013" type="select" id="fmsx_font" values="standard|DEFAULT.FNT|ITALIC.FNT|INTERNAT.FNT|CYRILLIC.FNT|KOREAN.FNT|JAPANESE.FNT" default="standard"/>
		<setting label="30014" type="select" id="fmsx_flush_disk" values="Never|Immediate|On close|To/From SRAM" default="Never"/>
		<setting label="30015" type="select" id="fmsx_phantom_disk" values="No|Yes" default="No"/>
		<setting label="30016" type="select" id="fmsx_custom_keyboard_up" values="up|left|right|down|shift|ctrl|graph|backspace|tab|escape|space|capslock|select|home|enter|del|insert|country|dead|stop|f1|f2|f3|f4|f5|keypad0|keypad1|keypad2|keypad3|keypad4|keypad5|keypad6|keypad7|keypad8|keypad9|kp_multiply|kp_plus|kp_divide|kp_minus|kp_comma|kp_period|backquote|minus|equals|leftbracket|rightbracket|backslash|semicolon|quote|comma|period|slash|0|1|2|3|4|5|6|7|8|9|a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z" default="up"/>
		<setting label="30017" type="select" id="fmsx_custom_keyboard_down" values="down|left|up|right|shift|ctrl|graph|backspace|tab|escape|space|capslock|select|home|enter|del|insert|country|dead|stop|f1|f2|f3|f4|f5|keypad0|keypad1|keypad2|keypad3|keypad4|keypad5|keypad6|keypad7|keypad8|keypad9|kp_multiply|kp_plus|kp_divide|kp_minus|kp_comma|kp_period|backquote|minus|equals|leftbracket|rightbracket|backslash|semicolon|quote|comma|period|slash|0|1|2|3|4|5|6|7|8|9|a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z" default="down"/>
		<setting label="30018" type="select" id="fmsx_custom_keyboard_left" values="left|up|right|down|shift|ctrl|graph|backspace|tab|escape|space|capslock|select|home|enter|del|insert|country|dead|stop|f1|f2|f3|f4|f5|keypad0|keypad1|keypad2|keypad3|keypad4|keypad5|keypad6|keypad7|keypad8|keypad9|kp_multiply|kp_plus|kp_divide|kp_minus|kp_comma|kp_period|backquote|minus|equals|leftbracket|rightbracket|backslash|semicolon|quote|comma|period|slash|0|1|2|3|4|5|6|7|8|9|a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z" default="left"/>
		<setting label="30019" type="select" id="fmsx_custom_keyboard_right" values="right|left|up|down|shift|ctrl|graph|backspace|tab|escape|space|capslock|select|home|enter|del|insert|country|dead|stop|f1|f2|f3|f4|f5|keypad0|keypad1|keypad2|keypad3|keypad4|keypad5|keypad6|keypad7|keypad8|keypad9|kp_multiply|kp_plus|kp_divide|kp_minus|kp_comma|kp_period|backquote|minus|equals|leftbracket|rightbracket|backslash|semicolon|quote|comma|period|slash|0|1|2|3|4|5|6|7|8|9|a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z" default="right"/>
		<setting label="30020" type="select" id="fmsx_custom_keyboard_a" values="space|left|up|right|down|shift|ctrl|graph|backspace|tab|escape|capslock|select|home|enter|del|insert|country|dead|stop|f1|f2|f3|f4|f5|keypad0|keypad1|keypad2|keypad3|keypad4|keypad5|keypad6|keypad7|keypad8|keypad9|kp_multiply|kp_plus|kp_divide|kp_minus|kp_comma|kp_period|backquote|minus|equals|leftbracket|rightbracket|backslash|semicolon|quote|comma|period|slash|0|1|2|3|4|5|6|7|8|9|a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z" default="space"/>
		<setting label="30021" type="select" id="fmsx_custom_keyboard_b" values="enter|left|up|right|down|shift|ctrl|graph|backspace|tab|escape|space|capslock|select|home|del|insert|country|dead|stop|f1|f2|f3|f4|f5|keypad0|keypad1|keypad2|keypad3|keypad4|keypad5|keypad6|keypad7|keypad8|keypad9|kp_multiply|kp_plus|kp_divide|kp_minus|kp_comma|kp_period|backquote|minus|equals|leftbracket|rightbracket|backslash|semicolon|quote|comma|period|slash|0|1|2|3|4|5|6|7|8|9|a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z" default="enter"/>
		<setting label="30022" type="select" id="fmsx_custom_keyboard_y" values="m|left|up|right|down|shift|ctrl|graph|backspace|tab|escape|space|capslock|select|home|enter|del|insert|country|dead|stop|f1|f2|f3|f4|f5|keypad0|keypad1|keypad2|keypad3|keypad4|keypad5|keypad6|keypad7|keypad8|keypad9|kp_multiply|kp_plus|kp_divide|kp_minus|kp_comma|kp_period|backquote|minus|equals|leftbracket|rightbracket|backslash|semicolon|quote|comma|period|slash|0|1|2|3|4|5|6|7|8|9|a|b|c|d|e|f|g|h|i|j|k|l|n|o|p|q|r|s|t|u|v|w|x|y|z" default="m"/>
		<setting label="30023" type="select" id="fmsx_custom_keyboard_x" values="n|left|up|right|down|shift|ctrl|graph|backspace|tab|escape|space|capslock|select|home|enter|del|insert|country|dead|stop|f1|f2|f3|f4|f5|keypad0|keypad1|keypad2|keypad3|keypad4|keypad5|keypad6|keypad7|keypad8|keypad9|kp_multiply|kp_plus|kp_divide|kp_minus|kp_comma|kp_period|backquote|minus|equals|leftbracket|rightbracket|backslash|semicolon|quote|comma|period|slash|0|1|2|3|4|5|6|7|8|9|a|b|c|d|e|f|g|h|i|j|k|l|m|o|p|q|r|s|t|u|v|w|x|y|z" default="n"/>
		<setting label="30024" type="select" id="fmsx_custom_keyboard_start" values="f1|left|up|right|down|shift|ctrl|graph|backspace|tab|escape|space|capslock|select|home|enter|del|insert|country|dead|stop|f2|f3|f4|f5|keypad0|keypad1|keypad2|keypad3|keypad4|keypad5|keypad6|keypad7|keypad8|keypad9|kp_multiply|kp_plus|kp_divide|kp_minus|kp_comma|kp_period|backquote|minus|equals|leftbracket|rightbracket|backslash|semicolon|quote|comma|period|slash|0|1|2|3|4|5|6|7|8|9|a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z" default="f1"/>
		<setting label="30025" type="select" id="fmsx_custom_keyboard_select" values="f4|left|up|right|down|shift|ctrl|graph|backspace|tab|escape|space|capslock|select|home|enter|del|insert|country|dead|stop|f1|f2|f3|f5|keypad0|keypad1|keypad2|keypad3|keypad4|keypad5|keypad6|keypad7|keypad8|keypad9|kp_multiply|kp_plus|kp_divide|kp_minus|kp_comma|kp_period|backquote|minus|equals|leftbracket|rightbracket|backslash|semicolon|quote|comma|period|slash|0|1|2|3|4|5|6|7|8|9|a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z" default="f4"/>
		<setting label="30026" type="select" id="fmsx_custom_keyboard_l" values="f2|left|up|right|down|shift|ctrl|graph|backspace|tab|escape|space|capslock|select|home|enter|del|insert|country|dead|stop|f1|f3|f4|f5|keypad0|keypad1|keypad2|keypad3|keypad4|keypad5|keypad6|keypad7|keypad8|keypad9|kp_multiply|kp_plus|kp_divide|kp_minus|kp_comma|kp_period|backquote|minus|equals|leftbracket|rightbracket|backslash|semicolon|quote|comma|period|slash|0|1|2|3|4|5|6|7|8|9|a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z" default="f2"/>
		<setting label="30027" type="select" id="fmsx_custom_keyboard_r" values="f3|left|up|right|down|shift|ctrl|graph|backspace|tab|escape|space|capslock|select|home|enter|del|insert|country|dead|stop|f1|f2|f4|f5|keypad0|keypad1|keypad2|keypad3|keypad4|keypad5|keypad6|keypad7|keypad8|keypad9|kp_multiply|kp_plus|kp_divide|kp_minus|kp_comma|kp_period|backquote|minus|equals|leftbracket|rightbracket|backslash|semicolon|quote|comma|period|slash|0|1|2|3|4|5|6|7|8|9|a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z" default="f3"/>
		<setting label="30028" type="select" id="fmsx_custom_keyboard_l2" values="graph|left|up|right|down|shift|ctrl|backspace|tab|escape|space|capslock|select|home|enter|del|insert|country|dead|stop|f1|f2|f3|f4|f5|keypad0|keypad1|keypad2|keypad3|keypad4|keypad5|keypad6|keypad7|keypad8|keypad9|kp_multiply|kp_plus|kp_divide|kp_minus|kp_comma|kp_period|backquote|minus|equals|leftbracket|rightbracket|backslash|semicolon|quote|comma|period|slash|0|1|2|3|4|5|6|7|8|9|a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z" default="graph"/>
		<setting label="30029" type="select" id="fmsx_custom_keyboard_r2" values="ctrl|left|up|right|down|shift|graph|backspace|tab|escape|space|capslock|select|home|enter|del|insert|country|dead|stop|f1|f2|f3|f4|f5|keypad0|keypad1|keypad2|keypad3|keypad4|keypad5|keypad6|keypad7|keypad8|keypad9|kp_multiply|kp_plus|kp_divide|kp_minus|kp_comma|kp_period|backquote|minus|equals|leftbracket|rightbracket|backslash|semicolon|quote|comma|period|slash|0|1|2|3|4|5|6|7|8|9|a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z" default="ctrl"/>
		<setting label="30030" type="select" id="fmsx_custom_keyboard_l3" values="f5|left|up|right|down|shift|ctrl|graph|backspace|tab|escape|space|capslock|select|home|enter|del|insert|country|dead|stop|f1|f2|f3|f4|keypad0|keypad1|keypad2|keypad3|keypad4|keypad5|keypad6|keypad7|keypad8|keypad9|kp_multiply|kp_plus|kp_divide|kp_minus|kp_comma|kp_period|backquote|minus|equals|leftbracket|rightbracket|backslash|semicolon|quote|comma|period|slash|0|1|2|3|4|5|6|7|8|9|a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z" default="f5"/>
		<setting label="30031" type="select" id="fmsx_custom_keyboard_r3" values="escape|left|up|right|down|shift|ctrl|graph|backspace|tab|space|capslock|select|home|enter|del|insert|country|dead|stop|f1|f2|f3|f4|f5|keypad0|keypad1|keypad2|keypad3|keypad4|keypad5|keypad6|keypad7|keypad8|keypad9|kp_multiply|kp_plus|kp_divide|kp_minus|kp_comma|kp_period|backquote|minus|equals|leftbracket|rightbracket|backslash|semicolon|quote|comma|period|slash|0|1|2|3|4|5|6|7|8|9|a|b|c|d|e|f|g|h|i|j|k|l|m|n|o|p|q|r|s|t|u|v|w|x|y|z" default="escape"/>
	</category>
</settings>
